* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #f6ce53;
  --section-color: #a77d54;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

*::selection {
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Concert One', cursive;
  font-size: 18px;
}

body.dark {
  background-color: #515561;
}

.dark .navbar {
  background-color: #414244;
}

.dark .navbar .navbar-nav li.active a,
.dark .navbar .navbar-nav li .active,
.dark .navbar .navbar-nav li:hover a {
  color: var(--main-color);
}

.dark .navbar .navbar-toggler {
  color: white;
}

.dark .skills .card {
  background-color: #c9c9c9;
}

.dark footer {
  background-color: #414244;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .btn:hover {
  background: none !important;
  transition: .5s;
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
}

.main-title {
  margin: 70px auto;
  border: 2px solid black;
  padding: 10px 10px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 20px 0;
}

.main-title::after,
.main-title::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f2dc';
  /* content: '\f004'; */
  font-size: 18px;
  position: absolute;
  color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: rigth-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
  background-color: var(--main-color);
  transition: 0.5s;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes rigth-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
/* start download */
.spinner {
  width: 100%;
  height: 100%;
  background-color: #515561;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  transition-duration: 5s;
}
.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 25% auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(167 125 84);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/* end download */
/* start bullet */
.bullet {
  position: fixed;
  top: 40%;
  right: 3px;
  width: 30px;
  height: 180px;
  z-index: 1000;
}
.bullet .bullets {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid var(--main-color);
  animation: bulletsAnmation 4s infinite;
}

@keyframes bulletsAnmation {
  form {
    margin-bottom: 20px 0;
  }
  to {
    margin-bottom: 15px;
  }
}
@media (max-width: 770px) {
  .bullet .bullets{
    width: 20px;
    height: 20px;
    right: -10px;
  }
}
/* end bullet */
/* start navbar */
.navbar .navbar-nav li a {
  color: white;
}

.navbar .navbar-nav li.active a,
.navbar .navbar-nav li:hover a {
  color: black;
}

.navbar {
  background-color: #858585e0;
  background-size: cover;
  padding: 0;
}
.navbar .navbar-brand img {
  width: 300px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .icon {
  border-radius: 5px;
  padding: 1px 5px;
  width: fit-content;
}

.navbar .icon:hover a {
  color: #0087ff;
}

.navbar .icon a {
  color: black;
}

.navbar .icon .global {
  color: black;
  font-size: 15px;
}
.navbar .dark-mood {
  border: 1px solid var(--main-color);
  width: 50px;
  height: 30px;
  display: flex;
  margin: 15px 10px 0 0px;
  border-radius: 5px;
  cursor: pointer;
}
.navbar .dark-mood .night,
.navbar .dark-mood .light {
  width: 50%;
  border-radius: 5px;
}
.navbar .dark-mood .night svg,
.navbar .dark-mood .light svg {
  padding-bottom: 3px;
  padding: 5px 5px 0 5px;
}
/* end navbar */
/* start home */
.home {
  background-image: url("../imgs/programming-code.webp");
  background-size: cover;
  min-height: 100vh;
  margin-top: -62.5px;
}
.home .section-row {
  padding-top: 90px ;
}
.home h4 {
  color: var(--main-color);
}

.home .image-text {
  padding: 5px 0;
  background-color: #515561a3;
  text-align: center;
  color: wheat;
}
.home .image-text span {
  color: white;
}

.home .imge {
  margin-top: 28px;
}
.home .imge #homeImgs {
  width: 60%;
  background-color: #515561;
  background-image: url("../imgs/ahmed-1.jpg");
  background-size: cover;
  height: 400px;
  border-radius: 9px;
  padding-top: 250px;
}

.home h4 {
  font-weight: bold;
  display: flex;
  font-size: 20px;
}

.home h4 p {
  white-space: nowrap;
  background-color: #222;
  width: 0px;
  padding: 0;
  margin-left: 7px;
  overflow: hidden;
  border-right: 2px solid black;
  animation: control-width 10s steps(29) 3s infinite, blink 0.5s infinite;
}

@keyframes control-width {
  from {
    width: 0;
  }
  to {
    width: 335px;
  }
}

@keyframes blink {
  form {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

.home .text a {
  margin: 0 120px;
}
.home .text a svg {
  animation: front-to-back .5s infinite;
}

@keyframes front-to-back {
  from {
    padding-bottom: 3px;
  }
  to {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .home {
    text-align: center;
  }
}
/* end home */
/* start skills */
.skills .card {
    height: 470px;
}

.skills .view-all {
  width: fit-content;
  margin: auto;
}

.skills .card:hover p {
  color: black !important;
  cursor: default;
}

@media (max-width: 991px) {
  .skills .card {
    height: 280px;
  }
}

@media (max-width: 770px) {
  .skills .card {
    height: 410px;
  }
}

.skills .card .card-body i,
.skills .card .card-body svg {
  color: red;
}
.skills .card .card-body .card-title {
  font-weight: bold;
}

.skills .card .card-body .icon {
  padding-top: 5px;
  padding-left: 10px;
}
/* end skills */
/* start portfolio */
.portfolio {
  background-color: var(--section-color);
}

.portfolio .box .card {
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  background-color: #515561;
  border-color: #ffc107;
  height: 580px;
}

.portfolio .box .card:hover {
    transition-duration: .5s;
    border-color: #5f8497;
    box-shadow: 0px 16px 25px 0px rgba(0 0 0 / 20%), 0px 4px 8px 0px rgba(0 0 0 / 20%);
    background-color: #51556147;
}
.portfolio .box .card:hover p,
.portfolio .box .card:hover h5,
.portfolio .box .card:hover span {
  cursor: default;
}
.portfolio .box .card:hover .card-text {
  color: white !important;
}

.portfolio .box .card:hover h5 {
  font-weight: bold;
}

.portfolio .box .image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box .image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
}

.portfolio .box .image:hover::before {
  animation: flashing 0.7s;
  z-index: 50;
}

@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.portfolio .view-all {
    width: 150px;
    margin: auto;
}

.skills .home-page i,
.skills .view-all svg,
.portfolio .home-page i,
.portfolio .view-all svg {
  animation: long-icon 1s infinite;
  padding: 0 10px;
}
@keyframes long-icon {
  form {
    padding: 0 5px;
  }
  to {
    padding: 0;
  }
}
/* end portfolio */
/* start our-skills */
.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: auto;
}

.box-skills {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	border-radius: 50%;
	background-color: #292929;
	box-shadow: 0 0 5px 3px #222121;
}

.box-skills::before {
	position: absolute;
	content: '';
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 50%;
	border: 1px solid #353535;
}

.box-skills .number span {
	color: #e9e9e9;
}

.box-skills .number .num {
	font-size: 30px;
	font-weight: bold;
}

.box-skills .number .sub {
	font-size: 20px;
}

.box-skills .title {
	font-size: 20px;
  color: var(--main-color);
}

.dots {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 2s transform, 2s opacity ease;
}

.dots::after {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 5px;
	left: 50%;
	border-radius: 50%;
	background-color: #b7b5b5;
	box-shadow: 0 0 5px 2px #585858;
	transform: translateX(-50%);
}

.svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: none;
	transform: rotate(-90deg);
}

.circle {
	stroke: url(#gradientStyle);
	stroke-width: 4px;
	stroke-dasharray: 503;
	stroke-dashoffset: 503;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	transition: 2s stroke-dashoffset;
}

/* spihcial */
.our-skills {
  padding-top: 60px;
}
.our-skills .block {
  margin-bottom: 50px;
}

.our-skills h3 {
  text-align: center !important;
  margin: auto;
  padding-bottom: 80px;
}
/* end our-skills */
/* start video */
.video {
  position: relative;
}

.video::before {
  content: 'Volt Programming';
  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  background-color: #515561a3;
  margin-top: 17%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
/* end video */
/* start abuot */
.about a {
  margin: auto;
}
.about .main-title.main-about {
  margin: 50px auto 20px auto;
}
.about .text-box {
  padding-top: 50px;
}
.about a img {
  width: 25px !important;
  color: black;
}
/* start contact */
.contact {
  background-color: var(--section-color);
}

.contact .phone {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.contact .phone svg {
  font-size: 30px;
}

@media (max-width: 770px) {
  .contact .phone {
    display: block;
    text-align: center;
  }
  .contact .phone div {
    padding: 0 !important;
  }
}

.contact .phone svg {
  animation: up-to-top .5s infinite;
  }
  @keyframes  up-to-top {
  0% {
  padding-right: 5px;
  }
  50% {
  margin: 0;
  }
  100% {
  margin-left: 5px;
  }
  }

.contact .images-form img {
  width: 100%;
  max-width: 100%;
}

.contact .form {
  padding-top: 88px;
}

.contact .form input {
  padding: 10px 0 10px 20px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--main-color);
}

.contact .form .text,
.contact .form input:focus {
  outline: none;
}

.contact .form .text {
  width: 80%;
  margin: auto;
  height: 150px;
  padding: 20px 0 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--main-color);
}

.contact .form .submit {
  margin-top: 40px;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  padding-right: 20px;
}
/* end contact */
/* start footer */
footer {
  background-color: #515561;
  color: white;
  border-top: 6px solid #ffc107;
}

footer a {
  color: var(--main-color);
  font-weight: bold;
}
footer a svg {
  padding: 0 5px;
  animation: footerAnimation 2.5s infinite;
}

@keyframes footerAnimation {
  form {
    padding: 0 5px;
  }
  to {
    padding: 0 0;
  }
}

/* end footer */

/* start All media */
@media (min-width: 768px) {
  .container {
    max-width: 980px !important;
  }
  .portfolio .box .card {
    min-height: auto !important;
  }
}
/* end All media */


